td.calText {
    padding: 1em;
    font-family: monospace;
}

tr.calRow {
    background-color: #333333;
}

table {
    padding: 1em;
    width: 100%;
}

div.filterDiv{
    display: flex;
    align-items: center;
    height:100%;
    font-family: monospace;
    flex-grow: 1;
    padding-left: 1em;
}

input.filterTextInput{
    min-width: 30em;
    font-family: monospace;
}

div.spinBoxContainer{
    margin-left: 1em;
    margin-right: 1em;
    font-family: monospace;
}

.changed {
    background-color: rgb(122, 80, 0);
}
