topLevelContainer {
    display: flex;
    flex-direction: row;
    width:100%;
    height:75%;
}


robotStatusBox {
    flex-grow: 2;
}

.robotStatusIframe {
    width:100%;
    height:100%;
}

linksBox {
    flex-grow: 1;
}

a.bigLinkButton {
    display: block;
    width: auto;
    height: auto;
    background: #222222;
    padding: 10px 5px;
    margin: 10px 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

a.bigLinkButton:hover {
    background: #533;
    color: white;
 }
 a.bigLinkButton:active {
    background: #555;
 }
 a.bigLinkButton:disabled {
    background: black;
    color: #555;
 }